<!DOCTYPE html>
<html>
  <head>
    <% include ./common/common-head.ejs %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include ./common/common-nav.ejs %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% include ../common/common-foot.ejs %>
  </body>
</html>
