<!DOCTYPE html>
<html>
  <head>
    <% include ../common/common-head.ejs %>
    <link rel='stylesheet' href='/stylesheets/user_login.css' />
  </head>
  <body>
    <% include ../common/common-nav.ejs %>
    <article>
        <% if (msg_exist) { %>
            <p class="msg"><%= msg %></p>
        <% } %>
        <form method="POST" action="/login">
            <div class="formWrapper">
                <div class="nameForm">
                    <span>Name:</span><input type="text" name="name">
                </div>
                <div class="passForm">
                    <span>Pass:</span></span><input type="text" name="pw">
                </div>
                <!--input type="submit" name="submit" value="POST"-->
                <div class="buttonForm clearfix">
                    <button class="login" type="submit" name="submit" value="login">ログイン</button>
                    <button class="regist" type="submit" name="submit" value="regist">新規作成</button>
                <div>
            </div>
        </form>

    </article>
 </body>
</html>
