<!DOCTYPE html>
<html>
  <head>
    <% include ../common/common-head.ejs %>
    <link rel='stylesheet' href='/stylesheets/user_login.css' />
  </head>
  <body>
    <% include ../common/common-nav.ejs %>
    <article>
        <form method="POST" action="/login">
            <div>名前:
                <input type="text" name="name">
                <input type="text" name="pw">
                <input type="submit" name="submit" value="POST">
            </div>
        </form>

    </article>
 </body>
</html>
