.msg
    padding-top 15px
    text-align center
    color red

button-size(w, h)
    width w
    height h

button-gradient()
    background -webkit-gradient(linear, left top, left bottom, from(#FFF),
    color-stop(0.01, #F1F1F1), color-stop(0.5, #F1F1F1), color-stop(0.99, #DFDFDF), to(#CCC))

button-shadow()
    -webkit-box-shadow: 1px 1px 2px #E7E7E7

button.moveBtn
    display block
    margin 15px auto 20px
    button-size(100px, 30px)
    button-gradient()
    button-shadow()


