body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#resList .resList_each[data-favorite="true"] {
  color: #f00;
}
#resList .resList_each[data-favorite="false"] {
  color: #000;
}
