body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
    color: #00B7FF

#resList
    .resList_each[data-favorite="true"]
        color red

#resList
    .resList_each[data-favorite="false"]
        color black

#resList
    .resList_each[data-self="true"]
        .resList_name
            color green
