.msg
    padding-top 15px
    text-align center
    color red

.formWrapper
    padding 15px

    input
        width 200px

    .nameForm
        margin-bottom 10px

        > span
            margin-right 11px


    .passForm
        margin-bottom 10px

        > span
            margin-right 20px


