    <nav>
        <ul class="clearfix">
            <li><a href="/thread/list"><img src="/images/1_list.png"></a></li>
            <li>FORUM</li>
            <li><a href="/thread/create_thread"><img src="/images/2_new.png"></a></li>
        </ul>
    </nav>

