body-width   = 320px
body-height = 416px

li
    list-style none

.clearfix:after
    content "."
    display block
    height 0
    clear both
    visibility hidden

body
    width body-width
    /*height body-height*/
    margin 0 auto
    padding 0
    /*border solid 1px black*/
    background-image url("/images/ptn.png")
    background-repeat repeat
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

top-radius(r)
    border-radius r r 0px 0px
    -webkit-border-radius r r 0px 0px
    border 1px solide #09C
    border-bottom 3px solide #09C

bg-gradient()
    background -webkit-gradient(linear, left top, left bottom, from(#B1D2E0), color-stop(0.03,#B1D2E0), color-stop(0.03,#0099CC), to(#069))


/*** ナビゲーション ***/
nav-height = 50px
nav
    position fixed
    top 0
    -webkit-transform  translateZ(0) /* GPUレイヤーに変換 */
    height nav-height 
    width body-width - 4px
    padding 0 2px
    top-radius(8)
    bg-gradient()
    color white

nav li:nth-of-type(1)
    margin-top 3px
    float left

nav li:nth-of-type(2)
    float left
    line-height nav-height
    text-align center
    width 235px
    /*width 240px*/

nav li:nth-of-type(3)
    margin-top 3px
    float right

/* メインコンテンツ */
article 
    margin-top nav-height
    width body-width - 4px
    padding 0 2px
